.not-found-container {
  display: grid;
  place-content: center;
  height: 100vh;
}

.flex-title-not-found {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  line-height: 2;
}

.title-text-not-found {
  font-size: 2.5rem;
  color: #b6322c;
}

.subTitle-not-found {
  font-size: 1.5rem;
  padding: 3%;
}

.btn-not {
  color: #ffff;
  text-decoration: none;
  padding: 13px 20px;
  background: #b6322c;
  
}

.btn-not:hover {
  background: #ffff;
  color: #b6322c;
}
